.tile {
    display: flex;
    height: 100%;
    /* width: 400px; */
    min-width: 200px;
    box-sizing: border-box;
    border-radius: 28px;
    text-align: center;
    flex-direction: column;
    transition: transform 0.3s;
  }
  
  .tile:hover {
    transform: scale(1.03);
  }
  
  .tile-image {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 28px;
    border-color: #ababab;
    border-style: groove;
  }
  
  .tile h3 {
    display: inline-flex;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: auto;
    color: var(--secondary);
    flex-shrink: 1;
  }
  