.footer {
  width: 100vw;
  /* height: 10vh; */
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.icons {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: xx-large;
  padding-bottom: 7px;
}

.footer-button {
  transition: transform 0.3s, color 0.3s;
}

.footer-button:hover {
  transform: scale(1.05);
  display: block;
  color: rgb(201, 231, 251);
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.copyright {
  /* position:absolute; */
  margin: 0px;
}
