:root {
  --primary: #202020;
  --secondary: #E7CA77;
  --light-grey: #C4C4C4;
  --dark-grey: #2F2F2F;
  --pink: #fadedd;
  
}


.App {
  text-align: center;
}


main {
  max-width: 100%;
  /* background-color: #fadedd; */
}

body {
  background-color: var(--primary);
}