#imagebox{
    height: 20vh;
    width: 100vw;
    background-color: #fadedd
}

#imageContainer {
    height: 40vh;
    width: 100vw;
    position: flex;
    background-color: #fadedd;
    background-image: url("./sunset.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#title {
position:relative;
justify-content: center;
text-align: center;
color: #ffffff;
letter-spacing: 20px;
align-items: center;
margin: auto;
vertical-align: center;
padding: 17vh

}




